
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hanalei+Fill&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital@0;1&display=swap');

.font-hanalai-fill{
    font-family: "Hanalei Fill", system-ui;
}


/* .container { */
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  .glitch {
    color: rgb(223, 191, 191);
    font-size: 9vw;
    /* position: relative; */
    animation: glitch 5s 5s infinite;
  }
  
  .glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    background: black;
    overflow: hidden;
  }
  
  .glitch::before {
    left: -2px;
    text-shadow: -5px 0 magenta;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1% {
      transform: rotateX(10deg) skewX(90deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  @keyframes noise-1, @keyframes noise-2 {
    $steps: 30;
    @for $i from 1 through $steps {
      #{percentage($i * (1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }